@tailwind base;
@tailwind components;
@tailwind utilities;



/* Typography */
.logo-name {
    font-family: 'Montserrat Subrayada', sans-serif;
    
}
.text-2xl {
    font-size: 1.9rem; /* Adjust this as needed */
}
li>a{
    font-size: 1rem;
    font-weight: 500!important;
    transition-duration: 0.5s;
    
  
}


.nav-color {
    font-family: 'Montserrat', sans-serif;
  
    font-style: normal;
   
   
}


/* Links */


.link:hover {
    color: #4787ac;  /* Change the color on hover if desired */
}

.active-link {
    color: #397fa7; /* Define styles for the active link */
    
   
}

/* Mobile Menu Icon */
.mobile-menu-icon {
    display: none; /* Hide the hamburger icon by default */
    cursor: pointer;
    position: fixed; /* Position it absolutely */
    top: 20px; /* Adjust the top position as needed */
    right: 21px; /* Adjust the right position as needed */
    margin-bottom: 10px; /* Add padding to the bottom */
    z-index: 999;
}

.mobile-menu-icon .bar {
    width: 26px;
    height: 0.1rem;
    background-color: #181818;
    margin: 7px 0;
    transition: transform 0.3s, opacity 0.3s;
}

.bar:nth-child(1) {
    position: relative;
    bottom: 2px;
    border: 1px solid #181818;
    border-top-right-radius: 12px;
    width: 18px;
    left: 7px;
}

.bar:nth-child(3) {
    position: relative;
    top: 2px;
    border: 1px solid #181818;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.mobile-menu-open .mobile-menu-icon .bar:nth-child(1),
.mobile-menu-open .mobile-menu-icon .bar:nth-child(3) {
    opacity: 0;
}

.mobile-menu-open .mobile-menu-icon .bar:nth-child(2) {
    transform: rotate(45deg) translateY(2px);
}

.mobile-menu-open .mobile-menu-icon .bar:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #181818;
    transform: rotate(90deg);
    
}
/* DARKMODE */
/* Dark Mode and Light Mode CSS */
[data-theme='dark'] {
    --font-color: #fffafa;
    --bg-color: #121212;
}

[data-theme='light'] {
    --font-color: #121212;
    --bg-color: #fffafa;
}
nav.dark {
    background-color: var(--bg-color);
    color: var(--font-color);
    z-index: 1000;
   
}

nav.light {
    background-color: var(--bg-color);
    color: var(--font-color);
}

#toggle{
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 75px;
    background-color: #15181f;
    position: relative;
    right: 0;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
#toggle:after{
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #fffafa;
    top: 5px;
    left: 7px;
    border-radius: 50%;
}

.dark-theme{
    background-color: #181818;
    color: #fffafa;
}
.dark-theme #toggle{
    background-color: #fffafa;
}
.dark-theme #toggle:after{
    background-color: transparent;
    box-shadow: 10px 10px #181818;
    top: -4px;
    left: 30px;
}
/* DarkModeToggle.css */
/* Style the checkbox in light mode */
input[type="checkbox"] {
    --bg-color-light: #fffafa; /* Light mode background color */
    --bg-color-dark: #181818; /* Dark mode background color */
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    -webkit-appearance: none; /* Remove default styles for Webkit browsers */
    appearance: none; /* Remove default styles for other browsers */
    background-color: var(--bg-color-light);
    border-radius: 15px; /* Make it round */
    outline: none; /* Remove outline when focused */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Style the checkbox when checked in light mode */
  input[type="checkbox"]:checked {
    background-color: var(--bg-color-dark);
  }
  
  /* Style the custom checkbox indicator in light mode */
  input[type="checkbox"]::before {
    content: "";
    width: 50%;
    height: 50%;
    background: #181818; /* Color of the checkmark in light mode */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s;
  }
  
  /* Style the custom checkbox indicator when checked in light mode */
  input[type="checkbox"]:checked::before {
    background: #fffafa; /* Color of the checkmark in dark mode */
  }
/* END DARK MODE */
/* Hamburger menu container */
.hamburger-menu {
    display: none;
    cursor: pointer;
    padding: 10px;
    position: relative;
    bottom: 3px;
  }
  
  /* Hamburger menu bars */
  .bar {
    width: 25px;
    height: 3px;
    background-color: var(--font-color);
    margin: 5px 0;
    transition: 0.4s;
  }
 
  
  /* Open state for the hamburger menu */
  .hamburger-menu.open .bar1,
  .hamburger-menu.open .bar3 {
    opacity: 0;
  }
  
  /* X icon styling for the 2nd child */
  .hamburger-menu.open .bar2 {
    transform: rotate(45deg);
    transition: 0.4s;
  }
  
  .hamburger-menu.open .bar2::before {
    content: "";
    width: 25px;
    height: 3px;
    background-color: var(--font-color); /* Use the font color variable */
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
    transition: 0.4s;
  }
  
@media screen and (max-width: 768px) {
    .text-2xl {
        font-size: 1.8rem; /* Adjust this as needed */
    }
    .container-custom{
        padding-left: 2.4rem;
        padding-right: 2.4rem;
        width: 100%;
       
    }
    
  
}
@media (max-width: 999px){
  .hamburger-menu{
    display: block;
  }
   /* Mobile menu container */
   .mobile-menu {
    position: absolute;
    top: 80%; /* Place it below the hamburger icon */
    right: 0;
    width: 100%; /* Take the full width of the screen */
    background-color: var(--bg-color);
    padding: 0px;
    transform: translateX(0); /* Adjust the transform property */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: none;
    opacity: 0;
    z-index: 1000;
    height: 100vh;
  }
 
  /* Additional styles for the mobile menu */
  /* Add any specific styles for the mobile menu here */

  /* Example: Style the links within the mobile menu */
  .mobile-menu a {
    text-decoration: none;
    margin: 10px 0;
    display: block;
    height: 100%;
    text-align: center;
    transition-duration: 0.5s;
    
   
    /* Add your additional styles here */
  }
 

  /* Example: Style for an open mobile menu */
  .mobile-menu.open {
    opacity: 1;
    transform: translateX(0%);
    pointer-events: auto;
    /* Make the ul take full width when the menu is open */
    width: 100%;
   
  }
  
.mobile-menu.open .active-link  {
   color: #4787ac;
 }
}

@media (max-width: 1024px) and (max-height: 580px) {
    
    .hamburger-menu{
      display: block;
      
    }
    /* Mobile menu container */
    .mobile-menu {
      position: absolute;
      top: 80%; /* Place it below the hamburger icon */
      right: 0;
      width: 100%; /* Take the full width of the screen */
      background-color: var(--bg-color);
      padding: 0px;
      transform: translateX(0); /* Adjust the transform property */
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      pointer-events: none;
      opacity: 0;
      z-index: 1000;
      height: 100vh;
    }
   
    /* Additional styles for the mobile menu */
    /* Add any specific styles for the mobile menu here */
  
    /* Example: Style the links within the mobile menu */
    .mobile-menu a {
      text-decoration: none;
      margin: 10px 0;
      display: block;
      height: 100%;
      text-align: center;
      transition-duration: 0.5s;
      
     
      /* Add your additional styles here */
    }
   
  
    /* Example: Style for an open mobile menu */
    .mobile-menu.open {
      opacity: 1;
      transform: translateX(0%);
      pointer-events: auto;
      /* Make the ul take full width when the menu is open */
      width: 100%;
     
    }
    
 .mobile-menu.open .active-link  {
     color: #4787ac;
   }
 
  
 
      
   
  }
@media screen and (min-width: 568px) {
    .container-custom{
        padding-left: 1.9rem;
        padding-right: 1.9rem;
        width: 100%;
        
    }
}