/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography and Links */
.text-2xl {
  font-size: 1.9rem;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-mode-toggle-container {
  margin-left: 20px; /* Adjust the margin as needed */
}
.link:hover {
  color: #4787ac;
}

.active-link {
  color: #397fa7;
}

/* Mobile Menu Icon */
.mobile-menu-icon {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 21px;
  margin-bottom: 10px;
  z-index: 999;
}

.mobile-menu-icon .bar {
  width: 26px;
  height: 0.1rem;
  background-color: #181818;
  margin: 7px 0;
}

.bar:nth-child(1) {
  position: relative;
  bottom: 2px;
  border: 1px solid #181818;
  border-top-right-radius: 12px;
  width: 18px;
  left: 7px;
}

.bar:nth-child(3) {
  position: relative;
  top: 2px;
  border: 1px solid #181818;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.mobile-menu-open .mobile-menu-icon .bar:nth-child(1),
.mobile-menu-open .mobile-menu-icon .bar:nth-child(3) {
  opacity: 0;
}

.mobile-menu-open .mobile-menu-icon .bar:nth-child(2) {
  transform: rotate(45deg) translateY(2px);
}

.mobile-menu-open .mobile-menu-icon .bar:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #181818;
  transform: rotate(90deg);
}

/* Dark and Light Themes */
[data-theme='dark'] {
  --font-color: #fffafa;
  --bg-color: #121212;
}

[data-theme='light'] {
  --font-color: #121212;
  --bg-color: #fffafa;
}

/* Navigation Styles */
nav.dark {
  background-color: var(--bg-color);
  color: var(--font-color);
  z-index: 1000;
}

nav.light {
  background-color: var(--bg-color);
  color: var(--font-color);
}

/* Toggle Switch Styles */
#toggle1, #toggle2, #toggle3 {
  -webkit-appearance: none;
  appearance: none;
  height: 30px;
  width: 60px;
  background-color: #15181f;
  position: relative;
  right: 0;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

#toggle1:after, #toggle2:after, #toggle3:after {
  content: "";
  position: absolute;
  height: 19px;
  width: 19px;
  background-color: var(--bg-color);
  top: 5px;
  left: 7px;
  border-radius: 50%;
}

/* Dark Theme Styles */
.dark-theme {
  background-color: #181818;
  color: #fffafa;
}

.dark-theme #toggle1 {
  background-color: #fffafa;
}

.dark-theme #toggle2 {
  background-color: #fffafa;
}

.dark-theme #toggle3 {
  background-color: #fffafa;
}

.dark-theme #toggle1:after {
  background-color: transparent;
  box-shadow: 8px 8px var(--bg-color);
  top: -3px;
  left: 27px;
}

.dark-theme #toggle2:after {
  background-color: transparent;
  box-shadow: 8px 8px var(--bg-color);
  top: -3px;
  left: 27px;
}

.dark-theme #toggle3:after {
  background-color: transparent;
  box-shadow: 8px 8px var(--bg-color);
  top: -3px;
  left: 27px;
}

/* Checkbox Styles */
input[type="checkbox"] {
  --bg-color-light: #fffafa;
  --bg-color-dark: #181818;
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--bg-color-light);
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-style: none;
}

input[type="checkbox"]:focus {
  outline: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

[type='checkbox']:checked {
  background-image: none;
}

.dark-theme input[type="checkbox"]:checked {
  background-color: var(--bg-color-light);
  color: transparent!important;
}

input[type="checkbox"]:checked {
  background-color: var(--bg-color-dark);
 
  box-shadow: rgba(100,110, 111, 20.35) 2px 5px 25px;
  color: transparent;
}

input[type="checkbox"]::before {
  content: "";
  width: 50%;
  height: 50%;
  visibility: hidden;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: rgba(100,100, 111, 0.35) 2px 5px 15px;
}

input[type="checkbox"]:checked::before {
  content: "";
  visibility: hidden;
}

/* Hamburger Menu Styles */
.hamburger-menu {
  display: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
  right: 20px;
  top: 1px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--font-color);
  margin: 5px 0;
}

/* Media Queries */

/* Small screens (max-width: 768px) */
@media screen and (max-width: 768px) {
  .text-2xl {
    font-size: 1.8rem;
  }
}

/* Very small screens (max-width: 390px) and (max-height: 844px) */
@media (max-width: 390px) and (max-height: 844px) {
  .mobile-menu {
    top: 95%;
    border-top: none;
  }
}
@media (max-width: 999px) {
  .hamburger-menu{
    display: block;
  }
 
  .mobile-menu {
    border-top: none;
    position: absolute;
    top: 100%; 
    right: 0;
    width: 100%; 
    background-color: var(--bg-color);
    padding: 0px;
    transform: translateX(0); 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: none;
    opacity: 0;
    z-index: 1000;
    height: 100vh;
  }

  .mobile-menu a {
    text-decoration: none;
    margin: 10px 0;
    display: block;
    height: 100%;
    text-align: center;
  }
 

  
  .mobile-menu.open {
    opacity: 1;
    transform: translateX(0%);
    pointer-events: auto;
    
    width: 100%;
   
  }
  
.mobile-menu.open .active-link  {
   color: #4787ac;
 }
}

@media (min-width: 1024px) {
  .fix-dark {
    display: none; 
  }
 
}

@media (max-width: 1023px){ 
    .hamburger-menu{
      display: block;
      position: relative;
      left: 0.7rem;
    
     
      
    }
   
    .mobile-menu {
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      background-color: var(--bg-color);
      padding: 0px;
      transform: translateX(0); 
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      pointer-events: none;
      opacity: 0;
      z-index: 1000;
      height: 100vh;
      border-top: none!important; 

    }
    .mobile-menu a {
      text-decoration: none;
      margin: 10px 0;
      display: block;
      height: 100%;
      text-align: center;
    
      
     
    
    }
   
  
   
    .mobile-menu.open {
      opacity: 1;
      transform: translateX(0%);
      pointer-events: auto;
     
      width: 100%;
     
    }
    
 .mobile-menu.open .active-link  {
     color: #4787ac;
   }
  }
  @media (max-width: 820px) and (max-height:1180px){
    body {
      padding-left: 4rem;
      padding-right: 4rem;
    }

  }
  @media (max-width: 768px) {
    body {
      padding-left: 4rem;
      padding-right: 4rem;
    }

  }
  @media (max-width: 280px)  and (min-height:633px){
    .hamburger-menu {
     margin-left: 37px;
    }
    .logo-name{
      font-size: 24px;
      
    }
    #toggle1, #toggle2, #toggle3 {
      -webkit-appearance: none;
      appearance: none;
      height: 30px;
      width: 50px;
      background-color: #15181f;
      position: relative;
      right: 0;
      border-radius: 20px;
      outline: none;
      cursor: pointer;
    }
    
    #toggle1:after, #toggle2:after, #toggle3:after {
      content: "";
      position: absolute;
      height: 19px;
      width: 19px;
      background-color: var(--bg-color);
      top: 5px;
      left: 7px;
      border-radius: 50%;
    }
    .dark-theme #toggle1:after {
      background-color: transparent;
      box-shadow: 8px 8px var(--bg-color);
      top: -3px;
      left: 18px;
    }
  }
  
  /* Add padding for small screens */
  @media (max-width: 1076px) {
    body {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
 
